/*================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
$borderamg: #efb911;
@import "components/card";
@import "variables/new-colors";
.client-status {
  // height: 10px;
  // width: 10px;
  border-radius: 50%;
  // left: 0;
  // top: 22px;
  // transform: translate(0, -50%);
}
.client-status-hold1 {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 14px solid #ffc107;
}

.pac-container {
  z-index: 100000000 !important;
}

//buttons utilities

.button-size {
  height: 23px;
  padding: 3px;
}

.button-margin-l {
  margin-left: 3px;
}

.footer-black {
  background: #666666 !important;
  color: #fff !important;
  padding: 17px !important;
}

.footer-span {
  color: #666666;
  background: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.w-50 {
  width: 16% !important;
}

.clickable {
  cursor: pointer;
}

.button-little-size {
  height: 23px;
  padding: 3px;
  .b-icon {
    vertical-align: initial !important;
    width: 14px;
    height: 14px;
  }
}

.textarea-style {
  border: 1px solid #ccc;
  width: 100%;
  height: 70px;
  border-radius: 5px;
  padding: 5px;
}

.restart-font-size {
  font-size: 100% !important;
}

.uploader {
  width: 100%;
  background: #d2d4d3;
  padding: 40px 15px;
  text-align: center;
  border-radius: 0 0 10px 10px;
  font-size: 20px;
  position: relative;
  &.dragging {
    background: #fff;
    color: #2196f3;
    border: 3px dashed #2196f3;
    .file-input label {
      background: #2196f3;
      color: #fff;
    }
  }
  i {
    font-size: 85px;
  }
  .file-input {
    width: 200px;
    margin: auto;
    height: 68px;
    position: relative;
    label,
    input {
      background: $borderamg;
      color: #fff;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      padding: 3px;
      border-radius: 4px;
      margin-top: 7px;
      cursor: pointer;
      height: 32px;
      font-size: 15px;
    }
    input {
      opacity: 0;
      z-index: -2;
    }
  }
  .images-preview {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    .img-wrapper {
      width: 160px;
      display: flex;
      flex-direction: column;
      margin: 10px;
      justify-content: space-between;
      background: #fff;
      align-items: center;
      position: relative;
      img {
        width: 60%;
      }
    }
    .details {
      font-size: 12px;
      background: #fff;
      color: #000;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3px 6px;
      .name {
        overflow: hidden;
        height: 18px;
        font-weight: bold;
      }
    }
  }
  .upload-control {
    position: absolute;
    width: 100%;
    background: #fff;
    top: 0;
    left: 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 10px;
    padding-bottom: 4px;
    text-align: right;
    button,
    label {
      background: #2196f3;
      border: 2px solid #03a9f4;
      border-radius: 3px;
      color: #fff;
      font-size: 15px;
      cursor: pointer;
    }
    label {
      padding: 2px 5px;
      margin-right: 10px;
    }
  }
}
.dark-layout {
  .modal-backdrop {
    background-color: #0b1822 !important;
  }
}
.modal-backdrop {
  opacity: 85% !important;
}

//Modal XMD

.modal .modal-xmd {
  max-width: 60vw;
  width: 100%;
}
.modal .modal-xlg {
  max-width: 80vw;
  width: 100%;
}

//Button x
.x-close-position {
  transform: translate(-12px, 4px) !important;
}
