@import "../variables/variables";

.k-timepicker {
    span {
        span {
            background: transparent !important;
        }
    }
}

.k-animation-container {
    .k-list-container {
        &::-webkit-scrollbar {
            width: 13px;
        }

        &::-webkit-scrollbar-track {
            background-color: #f0f0f0;
        }

        &::-webkit-scrollbar-thumb {
            background: #0090e7 !important;
        }
    }
    
}
.k-widget.k-calendar{
    .k-calendar-view{
        .k-content{
            tbody{
                tr{
                    .k-state-selected{
                        .k-link{
                            background-color: $primary!important;
                            border-color: $primary!important;
                            color: white !important;
                        }
                    }
                }
            }
        }
    }
    .k-footer{
        .k-link{
            color: $primary !important;
        }
    }
}

.dark-layout .k-animation-container {
    background: $theme-dark-body-bg !important;
    color: white !important;
    .k-list-container {
        background: $theme-dark-body-bg !important;
        &::-webkit-scrollbar {
            width: 13px;
        }

        &::-webkit-scrollbar-track {
            background-color: $theme-dark-body-bg !important;
        }

        &::-webkit-scrollbar-thumb {
            background: #0090e7 !important;
        }
        .k-list {
            li {

                &:hover {
                    background: $primary !important;
                }
            }
            .k-item{
                color: white !important;
            }
        }
        
    }
}

.dark-layout{
    // Calendario
    .k-calendar-container{
        background: $theme-dark-body-bg !important;
    }
    .k-widget.k-calendar{
        background: $theme-dark-body-bg !important;
        .k-header{
            background: $theme-dark-body-bg !important;
            color: white;
        }
        .k-calendar-view{
            background: $theme-dark-body-bg !important;
            .k-content{
                background: $theme-dark-body-bg !important;
                thead{
                    color: white !important;
                    tr{
                        background: $theme-dark-table-header-bg !important;
                        th{
                            background: $theme-dark-table-header-bg !important;
                            color: white !important;
                        }
                    }
                }
                tbody{
                    color: white !important;
                    tr{
                        background: $theme-dark-table-bg !important;
                        td{
                            background: $theme-dark-table-bg !important;
                        }
                    }
                }
            }
        }
        .k-footer{
            background: $theme-dark-body-bg !important;
            color: white !important;
        }
    }
    //end calendar

    .k-widget.k-timepicker.input-form{
        background: $theme-dark-body-bg !important;
        color: white !important;
        .input-form.k-input{
            background: $theme-dark-body-bg !important;
            color: white !important;
        }
    }
}

.dark-layout{
    .k-calendar-container{
        background: $theme-dark-body-bg !important;
    }
    .k-widget.k-calendar{
        background: $theme-dark-body-bg !important;
        .k-header{
            background: $theme-dark-body-bg !important;
            color: white;
        }
        .k-calendar-view{
            background: $theme-dark-body-bg !important;
            .k-content{
                background: $theme-dark-body-bg !important;
                thead{
                    color: white !important;
                    tr{
                        background: $theme-dark-table-header-bg !important;
                        th{
                            background: $theme-dark-table-header-bg !important;
                            color: white !important;
                        }
                    }
                }
                tbody{
                    color: white !important;
                    tr{
                        background: $theme-dark-table-bg !important;
                        td{
                            background: $theme-dark-table-bg !important;
                        }
                        // .k-state-selected{
                        //     .k-link{
                        //         background-color: $primary!important;
                        //         border-color: $primary!important;
                        //         color: white !important;
                        //     }
                        // }
                    }
                }
            }
        }
        .k-footer{
            background: $theme-dark-body-bg !important;
            color: white !important;
        }
    }
}

.dark-layout{
    .k-calendar-container{
        background: $theme-dark-body-bg !important;
    }
    .k-widget.k-calendar{
        background: $theme-dark-body-bg !important;
        .k-header{
            background: $theme-dark-body-bg !important;
            color: white;
        }
        .k-calendar-view{
            background: $theme-dark-body-bg !important;
            .k-content{
                background: $theme-dark-body-bg !important;
                thead{
                    color: white !important;
                    tr{
                        background: $theme-dark-table-header-bg !important;
                        th{
                            background: $theme-dark-table-header-bg !important;
                            color: white !important;
                        }
                    }
                }
                tbody{
                    color: white !important;
                    tr{
                        background: $theme-dark-table-bg !important;
                        td{
                            background: $theme-dark-table-bg !important;
                        }
                        // .k-state-selected{
                        //     .k-link{
                        //         background-color: $primary!important;
                        //         border-color: $primary!important;
                        //         color: white !important;
                        //     }
                        // }
                    }
                }
            }
        }
        .k-footer{
            background: $theme-dark-body-bg !important;
            color: white !important;
        }
    }
}
